<h1>Job Types</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @job_types.each do |job_type| %>
      <tr>
        <td><%= job_type.title %></td>
        <td><%= truncate(job_type.description, length: 100) %></td>
        <td><%= link_to 'View Details', job_type_path(job_type), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

