<div class="container">
  <h1><%= @job_type.title %></h1>
<p><%= @job_type.description %></p>

<% if current_user.has_profession?(@job_type) %>
  <h2>Summary</h2>
  <p><%= truncate(@job_type.learning_module.content, length: 500) %></p>
<% else %>
  <p>You have not earned this credential yet.</p>
  <%= link_to 'Start Training', training_module_job_type_path(@job_type), class: 'btn btn-primary' %>
<% end %>

</div>
