<div class="container">
  <h1><%= @job_type.title %> - Training Module</h1>
<% if @learning_module.present? %>
  <%= simple_format(@learning_module.content) %>
  <% if current_user.has_profession?(@job_type) %>
    <p>You have already earned this profession. Below is the training content for reference.</p>
  <% else %>
    <%= link_to 'Take Quiz', take_quiz_job_type_path(@job_type), class: 'btn btn-success mt-4' %>
  <% end %>
<% else %>
  <p>No training module available for this job type yet.</p>
<% end %>


</div>
