<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to ShiftCover, <%= @user.name %>!</h1>
    <p>We're excited to have you on board. Start exploring available shifts or post new ones that need coverage.</p>
    <p><%= link_to 'Go to ShiftCover', @url %></p>
  </body>
</html>
